<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>NodeJS Bookstore API</title>
</head>

<body style="background-color: rgb(237, 239, 248);">
   
    <div class="container-fluid mb-5">
        <div class="row mt-3 ">
            <div class="col-md-12">
                <h2 class="text-center fw-bold text-danger text-decoration-underline ">NodeJS Bookstore API</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-4 mb-4">
            <div class="col-md-10">
                <h3 class="text-primary fw-bold">Features</h3>
            </div>
        </div>

        
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <h5>1. Create a book</h5>
                <button class="btn btn-success btn-sm">Method POST</button>
                <span class="ms-5 fst-italic fw-bold"> http://localhost:2000/api/items</span>
            </div>
        </div>
        
       
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <h5>3. Update a book</h5>
                <button class="btn btn-primary btn-sm">Method PUT</button>
                <span class="ms-5 fst-italic fw-bold"> http://localhost:2000/api/items/:id </span>
            </div>
        </div>
     
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <h5>4. Get one book</h5>
                <button class="btn btn-warning btn-sm">Method GET</button>
                <span class="ms-5 fst-italic fw-bold">http://localhost:2000/api/items/:id</span>
            </div>
        </div>
       
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <h5>5. Get all book</h5>
                <button class="btn btn-info btn-sm">Method GET</button>
                <span class="ms-5 fst-italic fw-bold "> http://localhost:2000/api/items</span>
            </div>
        </div>
       
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <h5>6. Delete a book </h5>
                <button class="btn btn-danger btn-sm">Method DELETE</button>
                <span class="ms-5 fst-italic fw-bold"> http://localhost:2000/api/items/:id </span>
            </div>
        </div>

    </div>





    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>